
*{
	font-family: Helvetica;
}

ul{
	list-style-type: none;
}

a{
	text-decoration: none;
}

a:hover{
	text-decoration: none;
}

a:visited{
	color: black;
}

.navbar{
	background-color: #74C2A7;;
}

h1{
	color: white;
	margin-bottom: 30px; 
}